<!-- <p id="notice">
    <%= notice %> -->
</p>
<h2>Giỏ hàng đây</h2>
<table>
    <%= render (@cart.line_items) %>
    <!--The render() method will iterate over any collection that’s
passed to it.-->
            <tr class="total_line">
                <td colspan="2">Tổng cộng: </td>
                <td class="total_cell">
                    <%= number_to_currency(cart.total_price, precision: 0, unit: "VND", separator: ",", format: "%n %u") %>
                </td>
            </tr>
</table>
<%= button_to 'Xóa giỏ hàng', @cart, method: :delete,
data: { confirm: 'Chắc không?' } %>