// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carts, #side #cart {
    .total_cell {
        font-weight: bold;
        color: red;
    }
    .item_price, .total_line {
        text-align: right;
    }
    .item_price {
    text-align: right;
    color: #ff1493;
    }
    .total_line, .total_cell{
    font-weight: bold;
    border-top: 1px solid #595;
    } 
}